





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url(../images/illustration.back.jpg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    background-color:#fff;
    box-shadow: rgb(27, 26, 26);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin: 6% auto;
    padding: 10px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: rgb(22, 22, 22);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.button-box button:nth-child(2){
    color: #fff;
}
.toggle-btn{
    position: relative;
    padding: 10px 30px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}


#btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #1c1c2e, #087fce);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


.sosial-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial-icons i{
    width: 50px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    margin: 3px 7px;
}
.input-group{
    position: absolute;
    top: 180px;
    width: 280px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    border: none;
    margin: 5px 0;
    background: transparent;
    border-bottom: 1px solid darkslategray;
    outline: none;
}

.submit-btn{
    display: block;
    width: 85%;
    padding: 10px;
    cursor: pointer;
    border-radius: 35px;
    color: #fff;
    font-size: 15px;
    outline: none;
    margin: auto;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right, #1c1c2e, #087fce);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.input-group a{
    display: inline-block;
    text-decoration: none;
    color: darkslategray;
    margin: 30px 10px 30px 0;
    font-size: 12px;
}
#Loqin{
    left: 50px;

}
#Reqister{
    left: 450px;
}
